<!--
  This template loads for the 'tab.adopt' state (app.js)
-->
<ion-view title="Youtube">

  <ion-content>

    <ion-list>

        <ion-item class="wrap">
            <iframe src="http://www.youtube.com/embed/f30INuggTRk?rel=0" frameborder="0" allowfullscreen></iframe>
        </ion-item>
        <ion-item class="wrap">
            <iframe src="http://www.youtube.com/embed/y0B-s1TsCF0?rel=0" frameborder="0" allowfullscreen></iframe>
        </ion-item>
        <ion-item class="wrap">
            <iframe src="http://www.youtube.com/embed/huE7Whf7YMI?rel=0" frameborder="0" allowfullscreen></iframe>
        </ion-item>
        <ion-item class="wrap">
             <iframe src="http://www.youtube.com/embed/H00c2doqRKU?rel=0" frameborder="0" allowfullscreen></iframe>
        </ion-item>
      
    </ion-list>

  </ion-content>
</ion-view>

